body {
  margin: 0;
  font-family: Pretendard;
}

/* a태그 밑에 밑줄 없애기 */

a {
  text-decoration: none;
}

/* 클릭 요소 포인터 표시 */
.logo,
.login-btn,
.hero-button {
  cursor: pointer;
}

/* header */

.header {
  border-bottom: 1px solid #eee;
}

/* 헤더 내부 정렬 기본 */
.header-inner {
  max-width: 1200px;
  height: 64px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 로고 영역 */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 25.63px;
  color: #3692ff; /* ← 이 줄만 파란색으로 변경 */
  cursor: pointer;
}

/* 로고 이미지 크기 맞추기 */
.logo img {
  width: 40px;
  height: 40.14px;
  display: flex;
  align-items: center;
}

/* 로그인 버튼 */
.login-btn {
  width: 128px;
  height: 48px;
  background: #3692ff;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  line-height: 48px;
}

/* 판다 전체 영역 */

.panda {
  background-color: #e8f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
}

.panda-inner {
  width: 357px;
  height: 260px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 180px;
}

.panda-text {
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  font-style: bold;
}

.panda-button {
  border-radius: 40px;
  border: none;
  padding: 16px 124px;
  gap: 10px;
  background-color: #3692ff;
  color: #ffffff;
  font-family: Pretendard;
  font-weight: 600px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panda-image {
  width: 746px;
  height: 340px;
  object-fit: contain;
  align-self: flex-end; /* 땅 위에 딱 붙게 */
}

/* cards */

.features {
  max-width: 1200px;
  margin: 120px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

/* 카드 하나 */
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fcfcfc;
  border-radius: 16px;

  width: 988px;
  height: 444px;
  margin-left: 20px;
  padding: 0 40px;
}

/* 카드 안의 이미지 영역 */
.card-image img {
  width: 579px;
  height: 444px;
  display: block;
}

/* 텍스트 영역 */
.card-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 15px;
  gap: 12px;
}

.card-abbreviation {
  font-family: "Pretendard", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #3692ff;
}

.card-title {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #374151;
  letter-spacing: 0.02em;
  vertical-align: middle;
}

.card-desc {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #374151;
}

/* bottom banner */

.bottom-banner {
  background-color: #e8f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  top: 70px;
}

.bottom-inner {
  max-width: 1200px;
  margin: 0 auto;

  width: 1110px;
  height: 397px;

  display: flex;
  align-items: center;
  gap: 69px;
  justify-content: space-between;
}

.bottom-text {
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  font-style: bold;
}

.bottom-image img {
  width: 746px;
  height: 397px;
}

.bottom-last {
  width: 100%;
  height: 160px;
  padding: 32px 0;
  position: absolute;
  left: 0;
  top: 2800px;
  background-color: #111827;
}
